.container {
    max-width: 964px;
    font-family: 'Lato', sans-serif;
}

.header {
    font-weight: 300;
}

.logo {
    margin: 1em 0;
}

.footer {
    margin: 1em;
}

hr {
    height: 5px;
    background-color: #CDCDCD;
}
